


.heading {
  font-size: x-large;
  font-weight: 500;
  text-align: center;

}

.outer {
  box-shadow: 10px 10px 10px lightslategray;
  display: flex;
    flex-direction: column;
    gap: 2rem;
    align-content: space-around;
    border: 1px solid red;
    width: 270px;
    height: 300px;
    margin: 12px;
    background-color: rgb(161, 183, 255);
    border-radius: 15px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.heading:hover {
  background-color: #5AB1BB;
  color: #fff;
}

.card-title:hover {
  background-color: #5AB1BB;
  color: #fff;
}

.shadow-lg:hover {
  background-color: #5AB1BB;
  color: #fff;
  color: blue;
}


.parentt {
  font-size: 50px;
  /* color: hsl(55, 83%, 46%) !important; */
  color: rgb(127, 240, 127);
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  letter-spacing: 4px !important;
  text-transform: uppercase;
  padding-left: 90px;
  padding-right: 90px;
  margin-bottom: 10px;
}


/* style stretch effect*/
.parentt:hover {
  background: linear-gradient(105deg, hsl(55, 83%, 46%) 0, hsl(55, 83%, 46%) 7%, hsl(55, 83%, 46%) 15%);
  /* background: linear-gradient(105deg, hsl(55, 83%, 46%) 0, hsl(0, 0%, 100%) 7%, hsl(55, 83%, 46%) 15%); */
  /* background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 30%) 20%); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: effect 1.3s 1 linear;
}

@keyframes effect {
  0% {
    transform: scale(0.9, 1);
  }

  30% {
    transform: scale(1.1, 0.6);
  }

  50% {
    transform: scale(1, 0.9);
  }

  100% {
    transform: scale(0.9, 1);
  }
}